.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.5s;
    &__inner {
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: flex-start; 
        transition: all 0.5s;
    }
    &__center {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end; 
    }
    &__nav {
        &-link {
            margin-right: 25px;
            font-family: $opensans-regular;
            font-size: 14px;  
            color: $color-silver; 
            line-height: 24px;
        }
        &-link:hover {
            transition: all 0.5s;
            color: $color-granit;
        }
    }
    &__burger {
        width: 34px; 
        height: 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }
    &__burger div {
        width: 100%;
        height: 3px;
        background-color: $color-white;
        transition: all 0.5s;  
    }
    &__burger--active div:first-child {
        transform-origin: right;
        transform: rotate(-45deg);
    }
    &__burger--active div:nth-child(2) {
        opacity: 0; 
    }
    &__burger--active div:last-child {
        transform-origin: right;
        transform: rotate(45deg);
    }
}
 

.logo {
    font-family: $opensans-semibold; 
    font-size: 36px;
    color: $color-white; 
    margin-right: 140px;
}
@media (max-width: $lg) {
    .header {
        &__center {
            width: 100%;
            justify-content: space-between;
        }
    }
    .logo {
        margin-right: 0;
    }
}
@media (min-width: $md) {  
   .header {
       &__burger {
           display: none; 
       }
   }
}
@media (max-width: $md) { 
    .header {
        &__nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 65%; 
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:rgba(0, 0, 0, 0.8); 
            transition: all .5s;
            transform: translateX(-100%);
            z-index: -2;
            &-link {
                position: relative;
                margin-bottom: 35px;
            }
            &--active {
                transform: translateX(0); 
            }
        }
    }
    .section--active {
        transition: all .5s; 
        transform: translateX(65%);
} 
}
@media (max-width: $sm) {
    .logo {
        font-size: 26px; 
    }
}
