// Media-vars
$xxl: 1260px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;    

// Fonts-vars

$opensans-extrabold: 'OpenSans-ExtraBold', sans-serif;
$opensans-regular: 'OpenSans-Regular', sans-serif;
$opensans-semibold: 'OpenSans-SemiBold', sans-serif; 


// Color-vars 

$color-silver: #d2e7fb;
$color-white: #ffffff;
$color-primary: #d2e7fb;
$color-granit: #345477; 
$color-bg: #0f89f4;
$color-btn:  #9addfc;
$color-watch: #95c9fb;
$color-sky:  #a3d0fc;
$color-extra: #315479;    
$color-neutral: #677482; 
$color-quote: #116ace;  
$color-footer: #3974ca;
$color-dark: #323232;